* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: #A7ADC6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  word-wrap: break-word;
}

#hamburger {
  color: black;
}

#appName {
  margin-left: 33%;
  color: black;
  font-family: 'Lobster', cursive;
}

#appNameLogin {
  margin-left: 33.3%;
  margin-right: 66.7%;
  color: black;
  font-family: 'Lobster', cursive;
}

#login {
  font-family: 'Lobster', cursive;
}

#slide-out {
  background-color: #A7ADC6;
}

#appNameLogin {
  margin-left: 33.3%;
  margin-right: 66.7%;
  color: black;
  font-family: 'Lobster', cursive;
}

#footName {
  font-family: 'Lobster', cursive;
}

#foot {
  background-color: #5F4B66;
}

#footLogin {
  background-color: #5F4B66;
  margin-top: 0%;
}

#nav {
  background-color: #5F4B66;
  width: 100%;
  padding-bottom: none;
  padding-top: none;
  margin-top: none;
  margin-bottom: none;
}

#navLogin {
  background-color: #5F4B66;
  padding-bottom: 7%;
}

#navHead {
  padding-bottom: 35%;
}

#chatBox {
  margin-top: 2.5%;
  margin-bottom: none;
  padding-left: none;
  padding-right: none;
  position: relative;
}

#chatView {
  background-color: #BAABBD;
  box-shadow: 4px 4px 4px;
  border: 4px black;
  border-style: inset;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  height: 1%;
  overflow: hidden;
  position:relative;
}

#msgBox {
  background-color: #BAABBD;
  box-shadow: 4px 4px 4px;
  border: 4px black;
  border-style: inset;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  height: 150px;
  overflow: scroll;
  position:relative;
}

#chatRow {
  margin-bottom:0%;
}

#sendButton {
  background-color: #2C1320;
  padding-top: 2%;
  padding-bottom: 5%;
}

#chatPH {
  margin-bottom: 0%;
  border-color: black;
}

#song {
  width: 60%;
  height: 400px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

#formdiv {
  width: 30%;
  height: 160px;
  border: 4px solid;
  border-color: #C77F8C;
  background-color: #A7ADC6;
  border-radius: 5%;
}

.input-field label {
     color: black;
}

.input- {
  color: black;
}

header {
  background: url('http://az616578.vo.msecnd.net/files/2015/12/20/6358623850982099701625905936_concert%20crowd.jpg');
  background-size: cover;
  flex-direction:column;
  height: 550px;
  justify-content: center;
}
