* {
  box-sizing: border-box;
}

body {
  background-color: #EFBBFF;
}

#chatBox {

}

#sendButton {
  background-color: #B70FD1;
  margin-top: 3%;
}

#song {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
