* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: #EFBBFF;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#navHead{
  padding-bottom: 25%;
}

#chatBox {

}

#sendButton {
  background-color: #B70FD1;
  margin-top: 3%;
}

#song {
  width: 80%;
  height:30%;
  margin-left: 10%;
  margin-right: 10%;
}
